* {
    background-color: red;
}

h1 {
    color: white;
    font-size: 28px;
    text-align: center;
}

p {
    font-size: 22px;
    font-family: fantasy;
    color: thistle;
    text-align: center;
}